@font-face {
  font-family: "iconfont"; /* Project id 3274470 */
  src: url('//at.alicdn.com/t/font_3274470_habau1nnwo.woff2?t=1648109275427') format('woff2'),
       url('//at.alicdn.com/t/font_3274470_habau1nnwo.woff?t=1648109275427') format('woff'),
       url('//at.alicdn.com/t/font_3274470_habau1nnwo.ttf?t=1648109275427') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhifeiji:before {
  content: "\ec25";
}

.icon-fengche:before {
  content: "\e614";
}

.icon-a-Windmillfengchefengli:before {
  content: "\e723";
}

.icon-qiqiu:before {
  content: "\e6a3";
}

#article-container h1:before,
#article-container h2:before,
#article-container h3:before,
#article-container h4:before,
#article-container h5:before,
#article-container h6:before {
  font-family: "iconfont";
  content: "\e723";
}
